<!--form_tag for the search 'query', intertwined with controller and class model--> 

<%= form_tag students_path, method: :get do %>
    <label>Search Student:</label>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search"%>
<% end %>

<!--Iteretating through each student. rendered vie partial _student--> 
<% @students.each do |student| %>
    <%= render partial: 'student', locals: {student: student} %>
<% end %>